%h2 Dashboard


%h3 Upcoming transports

- if @upcoming_transports.count == 0
  %p no transports planed for the next 6 weeks
- else



%h3 Upcoming events

%table
  %theader
    %tr
      %th Name
      %th Start date
      %th End date
      %th Location
      %th Transports
  %tbody
    - @upcoming_events.each do |event|
      %tr
        %td= event.name
        %td= event.start_date
        %td= event.end_date
        %td= event.location
        %td

%h3 Broken or missing items

- if @broken_or_missing_items.count == 0
  %p no broken or missing items \o/
- else
  %table{border: 1}
    %thead
      %tr
        %th State
        %th Name
        %th Case
        %th Last comment
        %th Actions
    %tbody
    - @broken_or_missing_items.each do |bitem|
      %tr
        - if bitem.missing
          %td.missing{title: "missing"} missing
        - else
          %td.broken{title: "broken"} broken
        %td= bitem.name
        %td= bitem.case.name
        - if bitem.item_comments.count == 0
          %td
        - else
          %td= bitem.item_comments.last.comment
        %td
          %a{href: item_path(bitem)} show
          %a{href: edit_item_path(bitem)} edit
