- content_for :title, "Dashboard - "

%h2 Dashboard

.page_navigation
  %ul
    %li
      %a{href: "\#events"} events
    %li
      %a{href: "\#items"} broken items

%a{name: "events"}
%h3 Upcoming and recent events

- @upcoming_events.group_by{|e| e.start_date.month}.each do |month,events|
  %h4= Date::MONTHNAMES[month]
  %table
    %thead
      %tr
        %th Name
        %th Start date
        %th End date
        %th Location
        %th Transports
        %th Cases
        %th Checklists
    %tbody
    - events.each do |event|
      %tr
        %td
          %a{href: event_path(event)}= event.name
        %td
          %a{href: event_path(event)}= l event.start_date
        %td
          %a{href: event_path(event)}= l event.end_date
        %td
          %a{href: event_path(event)}= event.location
        %td
          %ul
          - event.transports.each do |c|
            %li
              %a{href: case_path(c)}= c.name
        %td
          %span.cases
            - event.cases.each do |c|
              %a{href: case_path(c)}= c.acronym
        %td
          %span
            - event.check_lists.each do |cl|
              %a{href: check_list_path(cl)}= cl.case.acronym

%a{name: "items"}
%h3 Broken or missing items

- if @broken_or_missing_items.count == 0
  %p no broken or missing items \o/
- else
  - @grouped_items.each do |c,items|
    %h4= c.name
    %table{border: 1}
      %thead
        %tr
          %th State
          %th Name
          %th Model
          %th Last comment
          %th Actions
      %tbody
      - items.each do |bitem|
        %tr
          - if bitem.missing
            %td.missing{title: "missing"} missing
          - else
            %td.broken{title: "broken"} broken
          %td
            %a{href: item_path(bitem)}= bitem.name
          %td
            %a{href: item_path(bitem)}= bitem.model
          - if bitem.item_comments.count == 0
            %td
          - else
            %td
              %a{href: item_path(bitem)}
                = "#{bitem.item_comments.first.author}: #{bitem.item_comments.first.comment}"
          %td
            %a{href: item_path(bitem)} show
            %a{href: edit_item_path(bitem)} edit
