- content_for :title, "New comment for #{@item.name} - "

%h2= "Create new '#{@item.name}' comment"
= render partial: 'record_errors', locals: { record: @item_comment }

= form_for @item_comment do |f|
  = render partial: 'form', locals: {f: f}, object: @item_comment

  = f.submit "Save"
  = link_to 'Cancel', item_path(@item)
