
%p
  %label{for: 'source_event_id'}= "From Event:"
  = f.collection_select :source_event_id, Event.where(end_date: Date.today-5..4.weeks.after).order('start_date DESC'), :id, :name, {include_blank: true}

%p
  %label{for: 'source_address'}= "Address:"
  %label.hint 
  = f.text_area :source_address

%p
  %label{for: 'pickup_time'}= "Pickup date:"
  = f.text_field :pickup_time

%p
  %label{for: 'destination_event_id'}= "Destination Event:"
  = f.collection_select :destination_event_id, Event.where(end_date: Date.today-5..4.weeks.after).order(:start_date), :id, :name, {include_blank: true}

%p
  %label{for: 'destination_address'}= "Address:"
  %label.hint 
  = f.text_area :destination_address

%p
  %label{for: 'delivery_time'}= "Delivery date:"
  = f.text_field :delivery_time
