- content_for :title, "Transports - "

%h2 Transports

%a{href: new_transport_path} create new transport
%a{href: transports_import_path} import/update K&amp;N transports


%table
  %thead
    %tr
      %th.source{colspan: 3} Source 
      %th.destination{colspan: 3} Destination 
      %th.number Cases
      %th.state Delivery state
      %th.actions Actions
  %tbody
  - @transports.each do |t|
    %tr
      %td
        - if t.source_event.nil? 
          - unless params[:event].nil? 
            %a{href: edit_transport_path(t, :from => params[:event])} assign
        - else
          %a{href: event_path(t.source_event)} 
            = t.source_event.name  
      %td~ t.source_address.gsub("\n", "<br/>").html_safe unless t.source_address.nil?
      %td= t.pickup_time.strftime('%F') unless t.pickup_time.nil?
      %td
        - if t.destination_event.nil? 
          - unless params[:event].nil?
            %a{href: edit_transport_path(t, :to => params[:event])} assign
        - else
          %a{href: event_path(t.destination_event)} 
            = t.destination_event.name 
      %td~ t.destination_address.gsub("\n", '<br/>').html_safe unless t.destination_address.nil?
      %td= t.delivery_time.strftime('%F') unless t.delivery_time.nil?
      %td
        
      %td= t.delivery_state
      %td
        %a{href: transport_path(t)} show
        %a{href: edit_transport_path(t)} edit
        %br
        - if t.carrier
          %a{href: t.tracking_url} tracking (#{t.carrier})
