- content_for :title, "#{@transport.title} - "

%h2= "#{@transport.title}"

%p= @transport.source_address.gsub("\n", "<br/>").html_safe
%p= @transport.pickup_time.strftime('%F') unless @transport.pickup_time.nil?


%p= @transport.destination_address.gsub("\n", '<br/>').html_safe
%p= @transport.delivery_time.strftime('%F') unless @transport.delivery_time.nil?