- content_for :title, "#{@item_type.name} - "

%h2= "#{@item_type.name}"
= render partial: 'record_errors', locals: { record: @item_type }

%ol.properties
  %li
    %label Name
    %span.name= @item_type.name
  %li
    %label Location
    %span.location
      - if  ItemType::LOCATIONS.include?(@item_type.name)
        true
      - else
        false

  %li
    %label Actions
    %span.actions
      %a{href: edit_item_type_path(@item_type)} edit
      = link_to 'delete', item_type_path(@item_type), data: {:confirm => "Delete item type '#{@item_type.name}'?"}, method: :delete
