%p
  %label{for: 'name'}= "Name:"
  = f.text_field :name
%p
  %label{for: 'acronym'}= "Acronym:"
  = f.text_field :acronym
%p
  %label{for: 'case_type_id'}= "Case type:"
  = f.collection_select :case_type_id, CaseType.order(:name), :id, :name, include_blank: false
