- content_for :title, "Edit #{@case.acronym} - "

%h2= "Edit '#{@case.name}' (#{@case.acronym})"
= render partial: 'record_errors', locals: { record: @case }

= form_for(@case, as: :case, url: case_path(@case), method: 'PUT') do |f|
  = render partial: 'form', locals: {f: f}, object: @case

  = f.submit "Save"
  = link_to 'Cancel', cases_path
