- content_for :title, "New case - "

%h2 Create new case
= render partial: 'record_errors', locals: { record: @case }

= form_for(@case, as: :case) do |f|
  = render partial: 'form', locals: {f: f}, object: @case

  = f.submit "Create"
  = link_to 'Cancel', cases_path
