
%h2 Create new case
- if @case.errors.any?
  %ul
    - @case.errors.each do |message|
      %li
        = message

= form_for(@case, as: :case) do |f|
  = render partial: 'form', locals: {f: f}, object: @case

  = f.submit "Create"
  = link_to 'Cancel', cases_path
