- content_for :title, "#{@case.name} - "

%h2= @case.name

.page_navigation
  %ul
    %li
      %a{href: "\#items"} Items
    %ul
      - @grouped_items.sort_by{|l,items| "#{l}" }.each do |l,items|
        %li
          - if l.nil?
            %a{href: "\#nolocation"} no location
          - else
            %a{href: "\##{Digest::MD5.hexdigest(l.name)}"}= l.name
    %li
      %a{href: "\#deleteditems"} Deleted items

%ol.properties
  %li
    %label Name
    %span.name= @case.name
  %li
    %label Case type
    %span.case_type= @case.case_type.name
  %li
    %label Acronym
    %span.acronym= @case.acronym
  %li
    %label Actions
    %span.actions
      %a{href: edit_case_path(@case)} edit
      %a{href: delete_case_path(@case)} delete
  %li
    %label Checklists
    %span.events
      - @upcoming_events.each do |e|
        - if @case.check_list(e)
          %a{href: check_list_path(@case.check_list(e))}= e.name
        - else
          %a{href: new_check_list_path(event: e, case: @case.id)}= e.name + " (create)"

%h3 Missing items
%table{border:1}
  %thead
    %tr
      %th Name
      %th Model
      %th Last comment
      %th Actions

  %tbody
    - @missing_items.sort_by{ |i| i.name }.each do |item|
      %tr
        - if item.missing
          %td.missing{title: "missing"}
            %a{href: item_path(item)}= item.name
        - elsif item.broken
          %td.broken{title: "broken"}
            %a{href: item_path(item)}= item.name
        - else
          %td.no_color
            %a{href: item_path(item)}= item.name
        %td.no_color
          %a{href: item_path(item)}= item.model
        - if item.item_comments.count == 0
          %td
        - else
          %td.no_color
            %a{href: item_path(item)}
              = "#{item.item_comments.first.author}: #{item.item_comments.first.comment}"

        %td
          %a{href: item_path(item)} show
          %a{href: edit_item_path(item)} edit
  

%a{name: "items"}
%h3 All items

%a{href: new_item_path(case_id: @case.id)} add new item

- @grouped_items.sort_by{|l,items| "#{l}" }.each do |l,items|

  - if l.nil?
    %a{name: "nolocation"}
    %h4= "no location"
  - else
    %a{name: "#{Digest::MD5.hexdigest(l.name)}"}
    %h4= l.name
  %table{border:1}
    %thead
      %tr
        %th Name
        %th Manufacturer
        %th Model
        %th Serial number
        %th Price
        %th Actions

    %tbody
      - items.sort_by{ |i| i.name }.each do |item|
        %tr
          - if item.missing
            %td.missing{title: "missing"}
              %a{href: item_path(item)}= item.name
          - elsif item.broken
            %td.broken{title: "broken"}
              %a{href: item_path(item)}= item.name
          - else
            %td.no_color
              %a{href: item_path(item)}= item.name
          %td.no_color
            %a{href: item_path(item)}= item.manufacturer
          %td.no_color
            %a{href: item_path(item)}= item.model
          %td.no_color
            %a{href: item_path(item)}= item.serial_number
          %td.no_color
            %a{href: item_path(item)}= number_to_currency(item.price, locale: :de)

          %td
            %a{href: item_path(item)} show
            %a{href: edit_item_path(item)} edit
            %a{href: clone_item_path(item)} clone
  - unless l.nil?
    %a{href: edit_item_path(l)} edit location 
    %a{href: new_item_path(case_id: @case.id, location: l.id)} add new item
  

%a{name: "deleteditems"}
%h3 Deleted items

%table.deleted
  %thead
    %tr
      %th Name
      %th Manufacturer
      %th Model
      %th Serial number
      %th Price
      %th Actions

  %tbody
    - @deleted_items.each do |item|
      %tr
        - if item.missing
          %td.missing{title: "missing"}
            %a{href: item_path(item)}= item.name
        - elsif item.broken
          %td.broken{title: "broken"}
            %a{href: item_path(item)}= item.name
        - else
          %td.no_color
            %a{href: item_path(item)}= item.name
        %td.no_color
          %a{href: item_path(item)}= item.manufacturer
        %td.no_color
          %a{href: item_path(item)}= item.model
        %td.no_color
          %a{href: item_path(item)}= item.serial_number
        %td.no_color
          %a{href: item_path(item)}= number_to_currency(item.price, locale: :de)
        %td
          %a{href: item_path(item)} show
          %a{href: clone_item_path(item)} clone
