- content_for :title, "#{@case.name} - "

%h2= @case.name

.page_navigation
  %ul
    - @grouped_items.each do |t,items|
      %li
        - if t.nil?
          %a{href: "\#notypedefined"} no type defined
        - else
          %a{href: "\##{t.name.gsub(' ', '')}"}= t.name

%ol.properties
  %li
    %label Name
    %span.name= @case.name
  %li
    %label Case type
    %span.case_type= @case.case_type.name
  %li
    %label Acronym
    %span.acronym= @case.acronym
  %li
    %label Actions
    %span.actions
      %a{href: edit_case_path(@case)} edit
      %a{href: delete_case_path(@case)} delete


%h2 Items

%a{href: new_item_path(case_id: @case.id)} add new item

- @grouped_items.each do |t,items|

  - if t.nil?
    %a{name: "notypedefined"}
    %h3= "no type defined"
  - else
    %a{name: "#{t.name.gsub(' ', '')}"}
    %h3= t.name

  %table{border:1}
    %thead
      %tr
        %th Name
        %th Manufacturer
        %th Model
        %th Relates to
        %th Serial number
        %th Price ()€)
        %th Actions

    %tbody
      - items.sort_by{ |i| i.name }.each do |item|
        %tr
          - if item.missing
            %td.missing{title: "missing"}= item.name
          - elsif item.broken
            %td.broken{title: "broken"}= item.name
          - else
            %td= item.name
          %td= item.manufacturer
          %td= item.model
          - if item.item
            %td= item.item.name
          - else
            %td
          %td= item.serial_number
          %td= item.price

          %td
            %a{href: item_path(item)} show
            %a{href: edit_item_path(item)} edit
            %a{href: delete_item_path(item)} delete
