- content_for :title, "#{@event.name} - "

%h2= @event.name

%ol.properties
  %li
    %label Event name
    %span.about= @event.name
  %li
    %label Location
    %span.location= @event.location
  %li
    %label Start date
    %span.start_date= @event.start_date
  %li
    %label End date
    %span.end_date= @event.end_date
  %li
    %label Buildup
    %span.buildup= @event.buildup
  %li
    %label Removel
    %span.removel= @event.removel
  %li
    %label Cases
    %span.cases
      - @event.cases.each do |c|
        %ul
          %li
            %a{href: case_path(c)}= c.name
          %li
            - if c.check_list(@event)
              %a{href: check_list_path(c.check_list(@event))}= "checklist"
            - else
              %a{href: new_check_list_path(event: @event, case: c.id)}= "create checklist"
          %br
  %li
    %label Actions
    %span.actions
      %a{href: edit_event_path(@event)} edit
      %a{href: delete_event_path(@event)} delete

%h3 Transports

%a{href: new_transport_path(event: @event.id)} create new transport
