%h2= @event.name

%ol.properties
  %li
    %label Event name
    %span.about= @event.name
  %li
    %label Location
    %span.location= @event.location
  %li
    %label Start date
    %span.start_date= @event.start_date
  %li
    %label End date
    %span.end_date= @event.end_date
  %li
    %label Buildup
    %span.buildup= @event.buildup
  %li
    %label Removel
    %span.removel= @event.removel
  %li
    %label Actions
    %span.actions
      %a{href: edit_event_path(@event)} edit
      %a{href: delete_event_path(@event)} delete

%h3 Transports

%a{href: new_transport_path(event: @event.id)} create new transport
