- content_for :title, "#{@event.name} - "

%h2= @event.name

%ol.properties
  %li
    %label Event name
    %span.about= @event.name
  %li
    %label Location
    %span.location= @event.location
  %br
  %li
    %label Start date
    %span.start_date= l @event.start_date
  %li
    %label End date
    %span.end_date= l @event.end_date
  %li
    %label Buildup
    %span.buildup
      - if @event.buildup
        = l @event.buildup
  %li
    %label Removel
    %span.removel
      - if @event.removel
        = l @event.removel
  %li
    %label Cases
    %span.cases
      - @event.event_cases.each do |event_case|
        %ul
          %li
            %a{href: case_path(event_case.case)}= event_case.case.name
          %li
            - if event_case.check_list.present?
              %a{href: check_list_path(event_case.check_list)}= "checklist"
            - else
              %a{href: new_event_case_check_list_path(event_case)}= "create checklist"
          %br
  %br
  %li
    %label Actions
    %span.actions
      %a{href: edit_event_path(@event)} edit
      %a{href: delete_event_path(@event)} delete

%h3 Transports

%a{href: new_transport_path(event: @event.id)} create new transport
%a{href: transports_path(event: @event.id)} assign existing
