- content_for :title, "#{@event.name} - "

%h2= @event.name
= render partial: 'record_errors', locals: { record: @event }

%ol.properties
  %li
    %label Event name
    %span.about= @event.name
  %li
    %label Location
    %span.location= @event.location
  %br
  %li
    %label Start date
    %span.start_date= l @event.start_date
  %li
    %label End date
    %span.end_date= l @event.end_date
  %li
    %label Buildup
    %span.buildup
      - if @event.buildup
        = l @event.buildup
  %li
    %label Removel
    %span.removel
      - if @event.removel
        = l @event.removel
  %li
    %label Cases
    %span.cases
      - @event.cases.each do |c|
        %ul
          %li
            %a{href: case_path(c)}= c.name
          %li
            - if c.check_list(@event)
              %a{href: check_list_path(c.check_list(@event))}= "checklist"
            - else
              %a{href: new_check_list_path(event: @event, case: c.id)}= "create checklist"
          %br
  %br
  %li
    %label Actions
    %span.actions
      %a{href: edit_event_path(@event)} edit
      = link_to 'delete', event_path(@event), data: {:confirm => "Delete event '#{@event.name}'?"}, method: :delete

%h3 Transports

%a{href: new_transport_path(event: @event.id)} create new transport 
%a{href: transports_path(event: @event.id)} assign existing
