- p @grouped_items
- @grouped_items.sort_by{|l,items| "#{l}" }.each do |l,items|
  %p.export_cases
    - if l.empty?
      %a{name: Digest::MD5.hexdigest("nolocation")}
      %h3{id: Digest::MD5.hexdigest("nolocation")}= "no location"
    - else
      %p.export_cases
        %a{name: "#{Digest::MD5.hexdigest(l)}"}
        %h3{id: Digest::MD5.hexdigest(l)}= l

    .noborder
      %table
        %tbody
          -# TODO: Mark missing items.
          -#
          -# TODO: Be able to mark broken items with comments.
          - items.each do |cli|
            %tr
              %td
                = check_box_tag("checked_check_list_items_#{cli.id}", cli.id, cli.checked, { name: "check_list[checked_check_list_items][]"})
              %td
                %label{ for: "checked_check_list_items_#{cli.id}" }= "#{cli.item.name_with_model}"

.noborder
  %table
    %tbody
      %tr
        %td
          = check_box(:check_list, :checked, checked_value: true, unchecked_value: false)
        %td
          %label{ for: "check_list_checked" }= "Finished checking?"
