- @grouped_items.sort_by{|l,items| "#{l}" }.each do |l,items|
  - if l.empty?
    %a{name: "nolocation"}
    %h3= "no location"
  - else
    %a{name: "#{l.gsub(' ', '')}"}
    %h3= l

  %p.export_cases
    - items.each do |cli|
      = check_box_tag("check_list_item_#{cli.id}", cli.id, cli.checked, { name: "check_list_items[]"})
      %label{ for: "check_list_item_#{cli.id}" }= "#{cli.item.name_with_model}"
