- content_for :title, "Checklist #{@check_list.case.name} - (#{@check_list.event.name}) - "

%h2= "Checklist #{@check_list.case.name} - (#{@check_list.event.name})"

%ul
  - @check_list.check_list_items.each do |ci|
    - if ci.checked
      %li= "#{ci.item.name} ✔"
    - else
      %li= ci.item.name


- if @check_list.checked
  = "Checklist already checked!"
- else
  = link_to 'check list', edit_check_list_path(@check_list)
