- content_for :title, "Checklist #{@check_list.case.name} - (#{@check_list.event.name}) - "

%h2= "Checklist #{@check_list.case.name} - (#{@check_list.event.name})"

%ul
  - @check_list.check_list_items.each do |ci|
    %li= ci.item.name

= link_to 'check list', edit_check_list_path(@check_list)
