- content_for :title, "Checklist #{@check_list.case.name} - (#{@check_list.event.name}) - "

%h2= "Checklist #{@check_list.case.name} - (#{@check_list.event.name})"

%ol.properties
  %li
    %label Advisor:
    %span.advisor= @check_list.advisor
  - unless @check_list.comment.empty?
    %li
      %label Comment:
      %span.comment= @check_list.comment
  %br
  %li
    %label Event:
    %span.event
      %a{href: event_path(@check_list.event)}= @check_list.event.name
  %li
    %label Case:
    %span.case
      %a{href: case_path(@check_list.case)}= @check_list.case.name
  %br
  %li
    %label Status:
    %span.check_status
      - if @check_list.checked
        = "Checklist already checked!"
      - else
        = "Please finisch checking…"
  - unless @check_list.checked
    %li
      %label Actions
      %span.actions
        %a{href: edit_check_list_path(@check_list)} Check me!

%ul
  -# TODO: Move items select to controller
  - items = @check_list.items_without_shelfs.group_by{ |ci| ci.checked }
  %h3= "Missing (#{items[false].count})"
  - items[false].each do |ci|
    %li= ci.item.name

  %h3= "Checked (#{items[true].count})"
  - items[true].each do |ci|
    %li= "#{ci.item.name} ✔"
