%p
  %label{for: 'name'}= "Name:"
  %label.hint Mixer Notebook
  = f.text_field :name
%p
  %label{for: 'model'}= "Model:"
  %label.hint T420
  = f.text_field :model
%p
  %label{for: 'manufacturer'}= "Manufacturer:"
  %label.hint Lenovo
  = f.text_field :manufacturer
%p
  %label{for: 'description'}= "Description:"
  = f.text_area :description
%p
  %label{for: 'serial_number'}= "Serial number:"
  = f.text_field :serial_number
%p
  %label{for: 'price'}= "Price:"
  %label.hint gross in EURO
  = f.text_field :price
%p
  %label{for: 'date_of_purchase'}= "Date of purchase:"
  = f.text_field :date_of_purchase
%p
  %label{for: 'Type'}= "Type:"
  = f.collection_select :item_type_id, ItemType.all.order(:name), :id, :name, include_blank: true
%p
  %label{for: 'location_item_id'}= "Location:"
  = f.collection_select :location_item_id, @item.case.locations.order(:name), :id, :name, include_blank: true
%p
  %label{for: 'item_id'}= "Relates to:"
  = f.collection_select :item_id, Item.where(case_id: @item.case, deleted: false).order(:name), :id, :name_with_model, include_blank: true
%p
  %label{for: 'case_id'}= "Case:"
  = f.collection_select :case_id, Case.order(:name), :id, :name, include_blank: false
%p
  %label{for: 'broken'}= "Broken:"
  = f.check_box :broken
%p
  %label{for: 'missing'}= "Missing:"
  = f.check_box :missing
