%h2= "Edit '#{@item.name}'"

- if @item.errors.any?
  %ul
    - @item.errors.each do |message|
      %li
        = message

= form_for(@item, as: :item, url: item_path(@item), method: 'PUT') do |f|
  = render partial: 'form', locals: {f: f}, object: @item

  = f.submit "Edit"
  = link_to 'Cancel', items_path
