- content_for :title, "Edit #{@item.case.acronym}: #{@item.name} - "

%h2= "Edit '#{@item.name}'"

- if @item.errors.any?
  %ul
    - @item.errors.each do |message|
      %li
        = message

%a{href: new_item_path(case_id: @item.case)} new item

= form_for(@item, as: :item, url: item_path(@item), method: 'PUT') do |f|
  = render partial: 'form', locals: {f: f}, object: @item

  = f.submit "Save"
  = link_to 'Cancel', case_path(@item.case)
  = link_to 'Delete', delete_item_path(@item)
