%h2 Export cases

= form_for("export", as: :item, url: items_path(), method: 'GET') do |f|
  %p
    %label{for: 'format'}= "Format:"
    = f.select(:format, options_for_select(["csv"]), {}, class: "item_format")

  %p
    %label{for: "cases"}= "Cases:"
    = f.collection_check_boxes(:cases, Case.all.order(:name), :id, :name)

  %p
    %label{for: "price"}= "Price over:"
    = f.text_field :price


  = f.submit "Export"
  = link_to 'Cancel', items_path

:scss
  input[type='checkbox'] {
    float: left;
  }
