- content_for :title, "Items - "

%h2 Items

.page_navigation
  %ul
    - @items.group_by{|i| i.case.name}.sort.each do |key,items|
      %li
        %a{href: "\##{Digest::MD5.hexdigest(key)}"}= key

%a{href: items_export_path} create csv export
%a{href: item_types_path} create item type

- @items.group_by{|i| i.case.name}.sort.each do |key,items|
  %a{name: "#{Digest::MD5.hexdigest(key)}"}
  %h3= key
  %table{border: 1}
    %thead
      %tr
        %th Name
        %th Manufacturer
        %th Model
        %th Action
    %tbody
      - items.sort_by{|i| i.name}.each do |item|
        %tr
          - if item.missing
            %td.missing{title: "missing"}
              %a{href: item_path(item)}= item.name
          - elsif item.broken
            %td.broken{title: "broken"}
              %a{href: item_path(item)}= item.name
          - else
            %td.no_color
              %a{href: item_path(item)}= item.name

          %td.no_color
            %a{href: item_path(item)}= item.manufacturer
          %td.no_color
            %a{href: item_path(item)}= item.model
          %td
            %a{href: item_path(item)} show
            %a{href: edit_item_path(item)} edit
