- content_for :title, "Items - "

%h2 Items

.page_navigation
  %ul
    - @items.group_by{|i| i.case.name}.sort.each do |key,items|
      %li
        %a{href: "\##{key.gsub(' ', '')}"}= key

%a{href: items_export_path} create csv export

- @items.group_by{|i| i.case.name}.sort.each do |key,items|
  %a{name: "#{key.gsub(' ', '')}"}
  %h3= key
  %table{border: 1}
    %thead
      %tr
        %th Name
        %th Manufacturer
        %th Model
        %th Action
    %tbody
      - items.each do |item|
        %tr
          - if item.missing
            %td.missing{title: "missing"}= item.name
          - elsif item.broken
            %td.broken{title: "broken"}= item.name
          - else
            %td= item.name

          %td= item.manufacturer
          %td= item.model
          %td
            %a{href: item_path(item)} show
            %a{href: edit_item_path(item)} edit
