- content_for :title, "New item - "

%h2= "Create new item for '#{@item.case.name}'"
= render partial: 'record_errors', locals: { record: @item }

= form_for(@item, as: :item) do |f|
  = render partial: 'form', locals: {f: f}, object: @item

  = f.submit "Create"
  = link_to 'Cancel', case_path(@item.case)


:javascript
  $(function() {
    $('#item_date_of_purchase').datepicker({ dateFormat: 'dd-mm-yy' }).val();
  });
