- content_for :title, "#{@item.case.acronym}: #{@item.name} - "

%h2= "#{@item.case.name}: #{@item.name}"

%ol.properties
  %li
    %label Name
    %span.about= @item.name
  %li
    %label Model
    %span.model= @item.model
  %li
    %label Manufacturer
    %span.manufacturer= @item.manufacturer
  %li
    %label Price
    %span.price= number_to_currency(@item.price, unit: "€", format: "%n %u")
  %li
    %label Date of purchase
    %span.date_of_purchase= l @item.date_of_purchase
  %li
    %label Serial number
    %span.serial_number= @item.serial_number
  %br
  %li
    %label Case
    %span.case
      %a{href: case_path(@item.case)}= @item.case.name
  - if @item.location
    %li
      %label Location
      %span.location
        %a{href: item_path(@item.location)}= @item.location.name
  - if @item.item
    %li
      %label Relates to
      %span.relates_to
        %a{href: item_path(@item.item)}= @item.item.name
  %li
    %label Type
    - if @item.item_type
      %span.item_type= @item.item_type.name
    - else
      %span.item_type
  %br
  %li
    %label Broken
    %span.broken= @item.broken
  %li
    %label Missing
    %span.missing= @item.missing
  %li
    %label Deleted
    %span.deleted= @item.deleted
  %br
  %li
    %label Actions
    %span.actions
      - if @item.deleted == false
        %a{href: edit_item_path(@item)} edit
        = link_to 'delete', item_path(@item), data: {:confirm => "Delete #{@item.name} (#{@item.case.acronym})"}, method: :delete

      %a{href: clone_item_path(@item)} clone


- if @subitems.count != 0
  %h3 Subitems
  %ul
    - @subitems.each do |subitem|
      %li
        %a{href: item_path(subitem)}= subitem.name


- if @item.item_type && ItemType::LOCATIONS.include?(@item.item_type.name)
  %h3 Location of
  %ul
    - Item.where("location_item_id = #{@item.id}").each do |item|
      %li
        %a{href: item_path(item)}= item.name


%h3= "Comments (#{@item.item_comments.count})"

- unless @item.deleted
  %a{href: new_item_comment_path(@item)} create new comment

%table
  %thead
    %tr
      %th Date
      %th Author
      %th Comment
      %th Actions
  %tbody
    - @item.item_comments.each do |comment|
      %tr
        %td= l comment.created_at
        %td= comment.author
        %td= comment.comment
        %td
          %a{href: item_comment_path(id: comment, item_id: @item)} show
