!!!
%html
  %head
    %title
      = "#{yield(:title)}#{Rails.configuration.application_slogan}"

    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags


%body
  #header
    %h1
      %a{href: root_path} WINK

  #menu
    %ul.menu
      %li
        %a{href: dashboard_path} dashboard
      %li
        %a{href: events_path} events
      -# TODO: implement transport planing
      -#%li
        %a{href: transports_path} transports
      %li
        %a{href: cases_path} cases
      %li
        %a{href: items_path} items

  #main
    = yield
